{% extends "layout.html" %}
{% block content %}
  <h1 class="title">TopSoft Inc Emplooyees' Database.</h1>
  <form action="/scrapp" method="POST">
    <div class="form-group">
        <label>Click the button to retrieve the Data from the Datasets.</label><br/>
      <button type="submit" name="scrapp" class="btn btn-primary">Scrapp</button>
    </div>
  </form>
<div id="result">    
    <div id="alertresult" role="alert" style="text-align: left;">   
        <h2 style="text-align: center;">The list of employees' details from the Three(3) datasets provided.</h2>
        <hr style='clear:both;'>       
        <table class="table table-striped" id="employee_table">
            <thead>
                <tr>
                    <th>Staff ID </th>
                    <th>Staff Name</th>
                    <th>Staff Status</th>
                    <th>Designation</th>
                    <th>Role</th>
                    <th>Time Spent Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
        </table>
    </div>
</div>  

<!-- Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Employee Details</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="title">Employee Details</h5>
            <table class="table table-striped" data-bind="with: $root.employee_details">
                <thead>
                    <tr>
                        <th style="width:30%" scope="col">Staff ID:</th>
                        <td align="left" data-bind="text: id"></td>
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                        <th style="width:30%">Name:</th>
                        <td align="left" data-bind="text: first_name+' '+last_name+''+other_names"></td>
                    </tr>
                    <tr>
                        <th style="width:30%" scope="row">Designation:</th>
                        <td align="left" data-bind="text: designation"></td>
                    </tr>
                    <tr>
                        <th style="width:30%" scope="row">Role:</th>
                        <td align="left" data-bind="text: role"></td>
                    </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-lg-6">
                  <h5 class="title">Actions for the Employee</h5>
                  <table class="table table-striped" data-bind="with: $root.employee_details">
                    <thead>
                        <tr>
                            <th style="width:30%" scope="col">Action ID:</th>
                            <td> Action</td>
                        </tr>
                      </thead>
                    <tbody  data-bind="foreach: $root.employeerole_actions">
                        <tr>
                            <th style="width:30%" data-bind="text: id">:</th>
                            <td align="left" data-bind="text: action"></td>
                        </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-lg-6">
                  <h5 class="title">Similar Employees</h5>
                  <table class="table table-striped" data-bind="with: $root.employee_details">
                    <thead>
                        <tr>
                            <th style="width:30%" scope="col">Staff ID:</th>
                            <td> Staff Name</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.similar_employees">
                      <tr >
                        <th style="width:30%" data-bind="text: id">:</th>
                        <td align="left" data-bind="text: first_name+' '+last_name+' '+other_names"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              

              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}



{% block javascript %}

<script type="text/javascript">
    var dTable = {}, displayed_tab = '', jsModel = {}, TableManageButtons;
    $(document).ready(function() {
        
      var JsModel = function () {
            var self = this;
            self.display_table = function (data, click_event) {
                TableManageButtons.init($(click_event.target).prop("hash").toString().replace("#", ""));
            };
            self.employee_details = ko.observable();
            self.similar_employees = ko.observableArray();
            self.employeerole_actions = ko.observableArray();

      };
      jsModel = new JsModel();
      ko.applyBindings(jsModel);


    $('table tbody').on('click', 'tr .view_info', function (e) {
            e.preventDefault();
            var row = $(this).closest('tr');
            var tbl = row.parent().parent();
            var tbl_id = $(tbl).attr("id");
            var dt = dTable[tbl_id];
            var data = dt.row(row).data();
            if (typeof (data) === 'undefined') {
                data = dt.row($(row).prev()).data();
                if (typeof (data) === 'undefined') {
                    data = dt.row($(row).prev().prev()).data();
                }
            }
            jsModel.employee_details(data);
            $.ajax({
            url: '/employee_details',
            data: {employee_id: data.id},
            type: 'GET',
            dataType:'json',
            success:function(response){
                console.log(response);
                jsModel.similar_employees(null);
                jsModel.employeerole_actions(null);

                jsModel.similar_employees(response.similar_employees);
                jsModel.employeerole_actions(response.role_actions);

            }
            });
        });



      var handleDataTableButtons = function () {
        if ($('#employee_table').length ) {
                dTable['employee_table'] = $('#employee_table').DataTable({
                    lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                    processing: true,
                    responsive: true,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons:  getBtnConfig('List of Employee data'),
                    ajax: {
                        url: '/employees/list',
                        dataType: 'JSON',
                        type: 'POST',
                        data: function (d) {
                            
                        }
                    },
                    columns: [
                      {"data": "id" },
                      {"data": "first_name", render: function (data, type, full, meta) {
                          return data+" "+full.last_name+" "+full.other_names
                        } },
                      {"data": "staff_status" },
                      {"data": "designation"},
                      {"data": "role"},
                      {"data": "time_spent"},
                      {"data": "id", render:function ( data, type, full, meta ) {
                          var ret_txt = "<a data-target='#employeeModal' data-toggle='modal' class='btn btn-sm view_info' data-toggle='tooltip' title='View staff info'>View</a>";
                          return ret_txt;
                      }}
                    ]
                });
        }
      }

      TableManageButtons = function () { 
          "use strict";
          return {
              init: function () {
                  handleDataTableButtons();
              }
          };
      }();
      TableManageButtons.init();
    });
</script>
{% endblock javascript %}